<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

    <!--配置那些资源是不需要登录就可以访问的，也就是不拦截-->
    <http pattern="/login.html" security="none"/>
    <http pattern="/login_error.html" security="none"/>

    <!--use-expressions的值为false的时候；说明在配置拦截的时候不需要编写表达式
    hasRole('ROLE_USER')  -> ROLE_USER
    -->
    <http use-expressions="false">
        <!--<intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>-->
        <intercept-url pattern="/**" access="ROLE_USER"/>

        <form-login login-page="/login.html" always-use-default-target="true"
         default-target-url="/index.html" authentication-failure-url="/login_error.html"/>

        <!--禁用跨站点伪造-->
        <csrf disabled="true"/>
    </http>

    <!--配置认证管理器-->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" authorities="ROLE_USER" password="123456"/>
                <user name="itcast" authorities="ROLE_USER" password="123456"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>