<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd
http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--消费者名称-->
    <dubbo:application name="pinyougou-shop-web"/>
    <!--注册中心地址-->
    <dubbo:registry address="zookeeper://192.168.12.168:2181"/>
    <!--扫描阿里注解 获取对应服务的地址信息生成代理对象-->
    <!--<dubbo:annotation package="com.pinyougou.shop.service.impl"/>-->
    <dubbo:reference interface="com.pinyougou.sellergoods.service.SellerService" id="sellerService"/>


    <!--配置那些资源是不需要登录就可以访问的，也就是不拦截-->
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <http pattern="/shoplogin.html" security="none"/>
    <http pattern="/register.html" security="none"/>
    <http pattern="/seller/add.do" security="none"/>

    <!--use-expressions的值为false的时候；说明在配置拦截的时候不需要编写表达式
    hasRole('ROLE_USER')  -> ROLE_USER
    -->
    <http use-expressions="false">
        <!--<intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>-->
        <intercept-url pattern="/**" access="ROLE_SELLER"/>

        <form-login login-page="/shoplogin.html" always-use-default-target="true"
         default-target-url="/admin/index.html" authentication-failure-url="/shoplogin.html"/>

        <!--禁用跨站点伪造-->
        <csrf disabled="true"/>

        <!-- 如果使用了 iframe 等框架，希望跳转也是在框架内跳转的话 -->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>

        <!--退出-->
        <logout/>

    </http>

    <beans:bean id="userDetailService" class="com.pinyougou.shop.service.impl.UserDetailServiceImpl">
        <beans:property name="sellerService" ref="sellerService"/>
    </beans:bean>

    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!--配置认证管理器-->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>