<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angularJS测试</title>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript">
        //定义模块
        //参数1：模块名称（ng-app一致），
        // 参数2：要加载的其它模块，如果不写说明是加载模块；如果是没有其它模块要加载的话需要写空数组;
        // 如果有模块需要加载则在数组中指定名称
        var app = angular.module("app", []);
        
        //定义处理器
        //参数1：处理器名称与ng-controller一致
        //参数2：处理器的方法体，$scope方式该模块的上下文对象
        app.controller("myController", function ($scope) {

            //只要是{{}}或者ng-***中写的方法必须要在$scope中定义才可以使用

            //定义方法
            $scope.add = function () {
                return parseInt($scope.x) + parseInt($scope.y);
            };
        });

    </script>
</head>
<body ng-app="app" ng-controller="myController">
x：<input ng-model="x"><br>
y：<input ng-model="y"><br>

x+y：{{add()}}
</body>
</html>